h1 {
    color: black;
    list-style: none;
    text-align: center;
}
.coursera div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 50px;
}
div ul li{
    color:rgb(61, 139, 61);
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    font-style: oblique;
}
a:link,a:visited {
    text-decoration: none;
    background-color: green;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 300px;
}
a:hover,a:active {
    background-color: greenyellow;
    color: red;
}
body {
    background-image: url("https://img.freepik.com/free-vector/gradient-dynamic-lines-background_23-2149020285.jpg");
    background-repeat: repeat;
    background-size: cover;
}

